body {
    font-family: Arial, sans-serif;
    background-color: cadetblue;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
}

form {
    background-color: #fff;
    width: 80%; /* Cambiado a porcentaje para ser responsive */
    max-width: 400px; /* Agregado un máximo para que no sea demasiado ancho */
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    form {
        width: 90%; 
    }
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
}

.footer-menu {
    list-style: none;
    display: flex;
}

.footer-menu li {
    margin-right: 20px;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.footer-menu a:hover {
    color: #DAF2F6;
}

.footer-social {
    font-size: 24px;
}

.footer-copy {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #555;
}

.footer-copy p {
    margin: 0;
}
.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}